{% extends 'base.html' %}

{% block content %}
<h2>Order Placed Successfully!</h2>
<p>Thank you for your purchase, {{ order.buyer.first_name }}!</p>

<h3>Order Details:</h3>
<ul>
    <li><strong>Total Amount:</strong> Rs {{ order.order_total }}</li>
    <li><strong>Order Status:</strong> {{ order.status }}</li>
</ul>

<h3>Purchased Items:</h3>
<table border="1">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.orderitem_set.all %}
        <tr>
            <td>{{ item.product_name|truncatechars:30 }}</td>  {# Max 30 characters #}
            <td>{{ item.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button type="submit"><a href="{% url 'index' %}">Back To Home</a></button>

{% endblock %}
